/* Estilos para alinear el contenido de contenedor-links a la derecha */

/* .container-fluid {
  max-width: 50%;
} */

.collapse.navbar-collapse{
  justify-content: flex-end;
}

.seccion-comentarios{
  /* display:flex; */
  /* align-items: center; */
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.mb-3{
  width: 50%;
}

/* @media (max-width: 992px){
  .navbar-brand{
    max-width: 70vh;
  }
} */ 